<header class="header" id="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/dx3zbcw0b/image/upload/v1763031759/rwydef_logo_dbusb0.png"
          alt="RWYDEF Logo" width="50" height="50">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Membership</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/members">Members</a></li>
              <li><a class="dropdown-item" href="/partners">Partners</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>