{% extends "layout.html" %} {% block content %}
<h1>{{title}}</h1>
<blockquote><em>{{page_quote}}</em></blockquote>

<section>
  <article>
    <span class="fw-bold">Our Core Values:</span>
    <span class="core-values_about"
      >Empowering women and children through education, health, economic
      justice, and stronger communities
    </span>
  </article>

  <article>
    <span class="fw-bold">Mission Statement:</span>
    <span class="core-values_about"
      >Integrity, Accountability, Human Rights, Transparency, Gender Equity,
      Team Work, Leadership
    </span>
  </article>
  <p>
    (RWYDEF) was founded on October 10, 2002, in Lokoja, Kogi State, as a
    non-governmental organization committed to impacting lives positively. Our
    mission is to empower women and the young by providing them with the skills,
    resources, and support they need to discover and harness their inherent
    strengths. Through targeted training programs, mentorship opportunities, and
    community-driven projects, overcoming barriers, and turning their
    aspirations into tangible achievements. By fostering an environment of
    encouragement, collaboration, and personal growth, RWYDEF helps individuals
    build meaningful, purpose-filled lives and contribute positively to the
    broader society.
  </p>

  <p>
    We are founded on the principle of compassion—loving others as we do
    ourselves—recognizing that life presents different challenges to each of us.
    We believe that true service to humanity goes beyond fulfilling civic
    responsibilities; it is reflected in our willingness to give back, to lend a
    helping hand in any way we can, no matter how small.
  </p>

  <article>
    <h3 class="fw-bold">Our Goals:</h3>
    <ul>
      <li>
        Introduction and sustenance of a Youth Educational Scheme to provide
        scholarship and other educational assistance
      </li>
      <li>
        Help develop new systems and work with existing structures to
        incorporate gender and human rights issues and mechanisms
      </li>
      <li>
        Create awareness in the public on health issues such as HIV and Malaria
        and provide systems for access to affordable and effective health care
      </li>
      <li>
        Help rural communities to develop and maintain a Micro-Credit Scheme for
        rural market women and proffer ways for access to capital with training
        on financial and managerial skills
      </li>
      <li>
        To create grounds for children to express themselves through development
        of Leadership skills
      </li>
      <li>
        Provide forums for community discussions as a research tool for NEEDS
        assessment to provide data for policy makers
      </li>
    </ul>
  </article>
</section>

{% endblock content %}
