{% extends "layout.html" %} {% block content %}
<section class="py-5" style="background: #e0f7fa">
  <div class="container section rounded-4 shadow-sm p-4 my-4">
    <h1
      class="mb-3 text-success"
      style="font-family: 'Poppins', Arial, sans-serif"
    >
      {{title}}
    </h1>
    <blockquote class="blockquote mb-4"><em>{{page_quote}}</em></blockquote>
    <div class="accordion mb-3" id="accordionProjects">
      {% for category, items in projects.items() %}
      <div class="accordion-item mb-3">
        <h2 class="accordion-header" id="heading-{{ loop.index }}">
          <button
            class="accordion-button {% if not loop.first %}collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-{{ loop.index }}"
            aria-expanded="{{ 'true' if loop.first else 'false' }}"
            aria-controls="collapse-{{ loop.index }}"
          >
            {% if category == "current_projects" %} Current Projects {% else %}
            Past Projects {% endif %}
          </button>
        </h2>
        <div
          id="collapse-{{ loop.index }}"
          class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
          aria-labelledby="heading-{{ loop.index }}"
          data-bs-parent="#accordionProjects"
        >
          <div class="accordion-body">
            <ul class="list-unstyled">
              {% for item in items %}
              <li class="my-2 d-flex align-items-center">
                <div class="p-2 px-4 rounded flex-grow-1">{{ item }}</div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
