* {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lusitana', serif;
  font-weight: 400;
  font-style: normal;
}

.core-values_about {
  font-family: 'Lusitana', serif;
}

p {
  text-align: justify;
}

article {
  margin: 5px;
}

ul {
  text-align: justify;
}

/* footer > p {
  margin: 0 auto;
} */

/* footer {
  background-color: #87cefa;
} */
